.header {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: x-large;
  color: var(--main-font-color);
  font-weight: 600;
}

.header__image {
  height: 4rem;
  width: 6rem;
}
