.header {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__image {
  height: 4rem;
  width: 6rem;
}

.profile {
  width:30px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid var(--main-font-color)
}

.username {
  font-size: small;
}

.profileContainer {
  display: flex;
  flex-direction: column;
}


