.generalButton__primary {
  cursor: pointer;
  color: var(--main-bg-color);
  background-color: var(--main-font-color);
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  padding: 0 1rem;
}

.iconButton__primary {
  cursor: pointer;
  color: var(--main-bg-color);
  background-color: var(--main-font-color);
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

.generalButton__secondary {
  cursor: pointer;
  color: var(--main-font-color);
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--main-font-color);
  border-radius: 0.5rem;
  height: 2.5rem;
  padding: 0 1rem;
}

.generalText {
  text-align: center;
  color: var(--main-font-color);
}

.generalTitle {
  font-size: large;
  font-weight: 600;
}

.generalSubTitle {
  font-size: large;
  font-weight: 600;
}
