body {
  margin: 0;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

#root {
  margin-top: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  height: calc(100vh - 55px - 2rem);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
